* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.frame {
  height: 22px;
  width: fit-content;
  border: 1px solid black;
  display: flex;
}

.balken {
  height: 100%;
  text-align: center;
}


#reaction {
  background-color: rgba(255, 0, 0, 0.5);
}
#braking {
  background-color: rgba(0, 0, 255, 0.5);
}

#car-con {
  display: flex;
}

#fussball {
  width: 105px;
}